accelerate==0.19.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
botocore==1.12.191
cachetools==5.3.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.3.9
coverage==7.2.5
dataclasses-json==0.5.8
diffusers==0.16.1
dill==0.3.6
docutils==0.19
filelock==3.12.0
flake8==6.0.0
frozenlist==1.3.3
fsspec==2023.5.0
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.0
httplib2==0.22.0
huggingface-hub==0.15.1
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
Jinja2==3.1.2
jmespath==0.10.0
langchain==0.0.215
termcolor==2.3.0
langchainplus-sdk==0.0.17
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mccabe==0.7.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==3.1
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
openai==0.27.6
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
protobuf==4.23.0
psutil==5.9.5
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.9
pyflakes==3.0.1
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
regex==2023.5.5
requests==2.30.0
requests-oauthlib==1.3.1
responses==0.18.0
rsa==3.4.2
s3transfer==0.2.1
sentencepiece==0.1.99
six==1.16.0
snowballstemmer==2.2.0
soundfile==0.12.1
Sphinx==7.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.17
# Editable install with no version control (src==0.1.0)
-e /Users/jmannix/src/open_src/yetanotheruseless/smithers
sympy==1.12
tenacity==8.2.2
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers @ git+https://github.com/huggingface/transformers@15f260a82f98788354d55cb2788e9f0b5131fb77
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.25.11
xxhash==3.2.0
yarl==1.9.2
zipp==3.15.0
